/* 검색한 음식의 이름 스타일 */
.search-category {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-top: 100px;
}

.button-group {
  display: flex;
  justify-content: flex-end; /* 좌측 정렬로 변경 */
  align-items: center; /* 수직 정렬을 위해 추가 */
  margin-bottom: 30px;
}

/* 뒤로가기 버튼 스타일 */
.back-button {
  padding: 10px 20px;
  background-color: #21de9f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.back-button:hover {
  background-color: #129090;
}
/* 정렬 순서 버튼 스타일 */
.sort-btn {
  padding: 10px 20px;
  background-color: #21de9f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.sort-btn:hover {
  background-color: #129090;
}

/* 검색 결과 스타일 */
.search-results {
  margin-top: 10;
}

.result {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.result-number {
  flex: 0 0 50px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 50px;
}

.result-info {
  display: flex;
  align-items: center;
}

.result-info img {
  width: 150px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}

.restaurant-name {
  font-size: 18px;
  font-weight: bold;
}

.restaurant-description {
  margin-left: 400px;
  font-size: 14px;
  color: #555;
}
/* 페이지 번호 스타일 */
.footer {
  position: fixed;
  bottom: 20px; /* 중앙 아래로부터의 거리 조정 */
  left: 50%; /* 가로 중앙 정렬 */
  transform: translateX(-50%); /* 중앙 정렬 */
  background-color: #f9f9f900;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.pagination {
  display: inline-block;
}
.pagination button {
  bottom: 0;
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #21de9f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #129090;
}
