/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%; /* 컨테이너의 최대 너비를 설정합니다. */
  margin: 0 auto; /* 가운데 정렬합니다. */
}

/* 네비게이션 바 스타일 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #21de9f;
  padding: 1rem 2rem;
  color: #fff;
  z-index: 1000;
}

.navbar__logo i {
  color: #e1ebe1;
  font-size: 2rem; /* 폰트 사이즈를 rem 단위로 조절합니다. */
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.navbar__logo a.logo-text {
  font-size: 1.5rem;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar__menu li {
  padding: 0 1rem;
}

/* 추가 텍스트 스타일 */
.additional-text {
  color: black;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 120px;
}

.additional-text a {
  color: black;
}

/* 메인 텍스트 스타일 */
.solution {
  color: black;
  font-size: 2.5rem;
  margin-top: 100px;
  text-align: center;
  margin-bottom: -80px;
}

.solution span {
  margin-right: 17rem;
}

/* 박스 컨테이너 및 박스 스타일 */
.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 작은 화면에서 박스가 넘치지 않도록 wrap 속성 추가 */
}

.box1,
.box2 {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 2px solid black;
  margin: 77px; /* 각 박스 사이의 간격을 설정합니다. */
  transition: background-color 0.3s;
}

/* 박스에 마우스를 올렸을 때 배경색 변경 */
.box1:hover,
.box2:hover {
  background-color: #f0f0f0;
}
